<{$serviceform.javascript}>
<form name="<{$serviceform.name}>" action="<{$serviceform.action}>" method="<{$serviceform.method}>" <{$serviceform.extra}>>
<table class="outer" cellspacing="1">
<tr>
<th colspan="2"><{$serviceform.title}></th>
</tr>
<!-- start of form elements loop -->
<{foreach item=element from=$serviceform.elements}>
<{if $element.hidden !== true}>
<tr>
<td class="head"><{$element.caption}></td>
<td class="<{cycle values="even,odd"}>"><{$element.body}></td>
</tr>
<{else}>
<{$element.body}>
<{/if}>
<{/foreach}>
<!-- end of form elements loop -->
</table>
</form>